#Visual Studio files
*.[Cc]ache
*.aps
*.bak
*.idb
*.ilk
*.iobj
*.ipdb
*.lib
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.sln
*.suo
*.tlb
*.tlh
*.tlog
*.unsuccessfulbuild
*.user
*.vcxproj
*.vcxproj.filters
*.vspscc
*.vssscc
*_i.c
*_p.c
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
#CLion files
.idea
#Temp files
/output
/docsource/temp
/setup/windows/current_release
/.vs
#cmake files
CMakeFiles
Makefile
cmake_install.cmake
generate.stamp
generate.stamp.depend
CMakeCache.txt
cmake-build-release
cmake-build-debug
#gcc files
*.o
*.a
test_exe
out
CMakeSettings.json
#output files
/.cproject
/.project
/ccktc/ccktc
/test/TCommandProcessor/TCommandProcessor
/test/TConstraints/TConstraints
/test/TConversions/TConversions
/test/TCsvParser/TCsvParser
/test/TDependencyPrinter/TDependencyPrinter
/test/TErrorPrinter/TErrorPrinter
/test/TFileSystem/TFileSystem
/test/TFilesBinaryEqual/TFilesBinaryEqual
/test/TGenerator/TGenerator
/test/TGeneratorStatistic/TGeneratorStatistic
/test/TKeywordParameterParser/TKeywordParameterParser
/test/TLineCollector/TLineCollector
/test/TParameterParser/TParameterParser
/test/TSourceFile/TSourceFile
/test/TSpecialRegexCharacterPrefixer/TSpecialRegexCharacterPrefixer
/test/TSystem/TSystem
/test/TTableIndex/TTableIndex
/test/TTemplateLoader/TTemplateLoader
/test/TTemplateProcessor/TTemplateProcessor
/test/TTokenizer/TTokenizer
/test/TVerticalTableBuilder/TVerticalTableBuilder
#gedit temp files
*~
#test input files
TestInputFile_*
