#Visual Studio files
*.[Cc]ache
*.aps
*.bak
*.idb
*.ilk
*.iobj
*.ipdb
*.lib
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.sln
*.suo
*.tlb
*.tlh
*.tlog
*.unsuccessfulbuild
*.user
*.vcxproj
*.vcxproj.filters
*.vspscc
*.vssscc
*_i.c
*_p.c
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
#Temp files
/output
/docsource/temp
/setup/windows/current_release
test.exe
/implementation/test/TErrorPrinter/TargetFile.txt
/implementation/test/TErrorPrinter/TargetFile.txt.intermediate
/implementation/test/TGenerator/LogOutput.txt
/implementation/test/TGenerator/LogTest1.gen.txt
/implementation/test/TGenerator/LogTest2.tpl.intermediate
/implementation/test/TGenerator/NeedsPadding.gen.csv
/implementation/test/TGenerator/TAppend.gen.txt
/implementation/test/TGenerator/TDataflow.gen.txt
/implementation/test/TGenerator/TGeneratorOut.txt
/implementation/test/TGenerator/TGeneratorOutIntermediateUsed.txt
#gcc files
*.o
*.a
test_exe
#gedit temp files
*~
